@import "../../../styles/_fonts.scss";

.map-text {
  max-width: 559px;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1200px) {
  .text-center {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.map-container, .companies-container {
  width: 100%;
  overflow: hidden;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease;
}